<ion-view view-title="My Feed">
  <ion-nav-buttons side="primary">
    <button class="button button-clear button-assertive" ng-click="me.leave()">Logout</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="postService.load()">
    </ion-refresher>
    <ion-list>
      <div ng-if="postService.myFeed.length === 0" class="item item-body">
        <p>
          You currently aren't following anyone. Find Users to follow in the Follow tab.
        </p>
      </div>
      <div ng-repeat="post in postService.myFeed">
        <ion-item class="item item-avatar item-icon-right">
          <img ng-src="http://www.gravatar.com/avatar/{{post.gravatar}}">
          <h2>{{post.name}}</h2>
          <p>{{post.email}}</p>
          <i class="icon ion-chevron-left"></i>
          <ion-option-button class="button-assertive" ng-click="postService.unfollow(post.email)">Unfollow</ion-option-button>
        </ion-item>
        <div class="item item-body">
          <p>
            {{post.status}}
          </p>
          <img ng-if="post.statusPhotoUrl" class="full-image" ng-src="{{post.statusPhotoUrl}}">
          <img ng-if="!post.statusPhotoUrl" style="max-height: 200px;" src="img/exis-logo.png">
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
