<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- My Feed Tab -->
  <ion-tab title="Feed" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Follow Tab -->
  <ion-tab title="Follow" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/follow">
    <ion-nav-view name="tab-follow"></ion-nav-view>
  </ion-tab>

  <!-- Status Tab -->
  <ion-tab title="My Status" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/status">
    <ion-nav-view name="tab-status"></ion-nav-view>
  </ion-tab>


</ion-tabs>
